.popup__button {
  background-color: #000;
  border-radius: 2px;
  border: 1px solid #000;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  padding: 14px 0 18px;
  transition: opacity .5s;
  cursor: pointer;
}

.popup__button:hover {
  opacity: .8;
}

@media (max-width: 425px) {
  .popup__button {
    font-size: 14px;
    line-height: 1.21;
    padding-bottom: 14px;
  }
}
