.page {
  min-height: 100vh;
  min-width: 320px;
  background-color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
