.profile__avatar-edit-button {
  position: relative;
  border-radius: 50%;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.profile__avatar-edit-button:hover:after {
  content: url('../../../images/avatar_edit_button.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
