.profile__job {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__job {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 425px) {
  .profile__job {
    font-size: 14px;
    line-height: 1.21;
  }
}
