.header__link {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.header__link:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .header__link {
    margin-right: 30px;
  }
}

@media (max-width: 425px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
  }
}
