.header__link {
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.header__link:hover {
  opacity: 0.6;
}
