.header__burger-button {
  display: none;
  width: 24px;
  height: 24px;
  cursor: pointer;

}

.header__burger-button:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .header__burger-button {
    display: block;
    margin-right: 30px;
  }
}
